.Home hr {
  height: 3px;
  border: none;
  border-top: 3px #03A9F4 dashed;
}

/** Header **/

.Header {
  background-color: #2196F3;
  animation: headerBackgroundAnimation 1s ease 2s forwards;
}
@keyframes headerBackgroundAnimation {
  0% {background-color: #2196F3}
  100% {background-color: #FF4081 }
}

.HeaderContainer {
  position: relative;
}

.HeaderTitle {
  text-align: center;
  font-size: 4rem;
  font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  opacity: 0;
  animation: headerTitleAnimation 1.5s ease 2s forwards;
  z-index: 3;
}
@keyframes headerTitleAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}

.HeaderText1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  color: #FFF;
  font-size: 4em;
  font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  animation: headerText1Animation 2s ease 0.5s forwards;
  opacity: 0;
  z-index: 3;
}
@keyframes headerText1Animation {
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.HeaderText2 {
  position: absolute;
  top: 25%;
  right: 0%;
  margin-right: 32px;
  color: #FFF;
  font-size: 4em;
  font-family: 'Kodomo';
  animation: headerText2Animation 2s ease 8s forwards;
  opacity: 0;
  z-index: 3;
}
@keyframes headerText2Animation {
  0% {opacity: 0}
  100% {opacity: 1}
}

.HeaderOpImage1 {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: bottom;
  animation: HeaderOpImageAnimation 1ms ease 4.5s forwards, HeaderOpImageAnimationAfter 1ms ease 5.5s forwards;
  opacity: 0;
  z-index: 0;
}
.HeaderOpImage2 {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: bottom;
  animation: HeaderOpImageAnimation 1ms ease 5.5s forwards, HeaderOpImageAnimationAfter 1ms ease 6.5s forwards;
  opacity: 0;
  z-index: 0;
}
.HeaderOpImage3 {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: bottom;
  animation: HeaderOpImageAnimation 1ms ease 6.5s forwards, HeaderOpImageAnimationAfter 1ms ease 7.5s forwards;
  opacity: 0;
  z-index: 0;
}
@keyframes HeaderOpImageAnimation {
  0% {opacity: 0}
  100% { opacity: 1}
}
@keyframes HeaderOpImageAnimationAfter {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.HeaderOpImage1Cover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 4s forwards;
  z-index: 1;
}
.HeaderOpImage2Cover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 5s forwards;
  z-index: 1;
}
.HeaderOpImage3Cover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 6s forwards;
  z-index: 1;
}

.HeaderImage {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  animation: headerImageAnimation 1ms ease 7.5s forwards;
  opacity: 0;
  z-index: 0;
}
@keyframes headerImageAnimation {
  0% {opacity: 0}
  100% { opacity: 1}
}

.HeaderImageCover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 7s forwards;
  z-index: 1;
}
@keyframes headerImageCoverAnimation {
  0% {
    opacity: 1;
    transform: translateX(100%)
  }
  50% {
    opacity: 1;
    transform: translateX(0%)
  }
  100% {
    opacity: 1;
    transform: translateX(-100%)
  }
}

.HeaderImageLogo {
  position: absolute;
  width: 30%;
  height: auto;
  top: 25%;
  left: 0;
  right: 60%;
  margin: auto;
  opacity: 0;
  z-index: 0;
  animation: HeaderImageLogoAnimation 1.5s ease 8s forwards;
}
@keyframes HeaderImageLogoAnimation {
  0% {opacity: 0;
    transform: translateX(10%)
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

.ShareButtons {
  display: flex;
  flex-flow: column;
  position: absolute;
  width: fit-content;
  top: 0%;
  right: 0%;
  margin-top: 100px;
  margin-right: 16px;
  z-index: 2;
  animation: ButtonsShowAnimation 1ms ease 7.5s forwards;
  opacity: 0;
}

.LinkButtons {
  display: flex;
  flex-flow: row;
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 4;
  animation: ButtonsShowAnimation 1ms ease 7.5s forwards;
  opacity: 0;
}

@keyframes ButtonsShowAnimation {
  0% {opacity: 0;
    transform: translateX(10%)
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

.ChannelButton {
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #B71C1C;
  background-color: #F44336;
  padding: 16px 16px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  margin-right: 32px;
}

.ChannelButton:hover {
  background-color: #E53935;
  animation: shaking .2s infinite;
}

.TwitterButton {
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #1976D2;
  background-color: #03A9F4;
  padding: 16px 16px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
}

.TwitterButton:hover {
  background-color: #1976D2;
  animation: shaking .2s infinite;
}

@keyframes shaking {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(4px, 4px) rotateZ(1deg)}
  50% {transform: translate(0px, 4px) rotateZ(0deg)}
  75% {transform: translate(4px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}


.HeaderShereButton {
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #1976D2;
  background-color: #03A9F4;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  opacity: 0.2;
}

.Menu {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
}

.MenuItemButton {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #FF4081;
  background-color: #FF4081;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  animation: MenuItemButtonAnimation 1ms ease 7.5s forwards;
  opacity: 0;
}

.MenuItemHomeButton {
  display: flex;
  position: fixed;
  margin-top: 24px;
  margin-left: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #FF4081  ;
  background-color: #FF4081;
  padding: 8px 8px 8px 8px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  animation: MenuItemButtonAnimation 1ms ease 7.5s forwards;
  opacity: 0;
  z-index: 1;
}

.MenuItemButton:hover {
  background-color: #F50057;
}

@keyframes MenuItemButtonAnimation {
  0% {opacity: 0;
    transform: translateX(10%)
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

.MovieYoutube {
  position:relative;
  width:100%;
  padding-top:56.25%;
}

.MovieYoutubeFrame {
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}

/** Body **/

.Introduction {
  margin-top: 64px;
  margin-left: 64px;
  margin-right: 64px;
}

.Introduction h1 {
  color: #FF4081;
  font-size: 2em;
}

.Introduction p {
  font-size: 1.2em;
  margin-top: 32px;
  color: #5D4037;
  margin-bottom: 8px;
}

.License {
  margin-top: 64px;
  margin-left: 64px;
  margin-right: 64px;  
}

.License h1 {
  font-size: 2em;
  color: #FF4081;
}

.LicenseHeaderTextTitle {
  margin-top: 32px;
  color: #5D4037;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.LicenseHeaderText {
  color: #5D4037;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.Formrun {
  margin-top: 128px;
}

@media screen and (max-width: 480px) { /* smart phones */
  html { 
    font-size: 75%;
  }

  .HeaderTitle {
    font-size: 2rem;
  }

  .FloatingButtons {
    top: 50%;
    right: 0%;
    margin-right: 16px;
    z-index: 2;
  }

  .HeaderText1 {
    top: 30%;
    font-size: 1.5em;
  }

  .Menu {
    opacity: 0;
  }

  .Introduction {
    margin-left: 16px;
    margin-right: 16px;
  }  
  
  .License {
    margin-left: 16px;
    margin-right: 16px;
  }
}