.Home hr {
  height: 3px;
  border: none;
  border-top: 3px #03A9F4 dashed;
}

/** Header **/

.Header.Home {
  background-color: #2196F3;
  animation: headerBackgroundAnimation 1s ease 2s forwards;
}
@keyframes headerBackgroundAnimation {
  0% {background-color: #2196F3}
  100% {background-color: #FF4081 }
}

.HeaderContainer {
  position: relative;
}

.HeaderTitle.Home {
  opacity: 0;
  animation: headerTitleAnimation 1.5s ease 2s forwards;
}

@keyframes headerTitleAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}

.Home_HeaderText1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  color: #FFF;
  font-size: 4em;
  font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  animation: headerText1Animation 2s ease 0.5s forwards;
  opacity: 0;
  z-index: 3;
}

@keyframes headerText1Animation {
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.Home_HeaderOpImage1 {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: bottom;
  animation: HeaderOpImageAnimation 1ms ease 4.5s forwards, HeaderOpImageAnimationAfter 1ms ease 5.5s forwards;
  opacity: 0;
  z-index: 0;
}
.Home_HeaderOpImage2 {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: bottom;
  animation: HeaderOpImageAnimation 1ms ease 5.5s forwards, HeaderOpImageAnimationAfter 1ms ease 6.5s forwards;
  opacity: 0;
  z-index: 0;
}
.Home_HeaderOpImage3 {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: bottom;
  animation: HeaderOpImageAnimation 1ms ease 6.5s forwards, HeaderOpImageAnimationAfter 1ms ease 7.5s forwards;
  opacity: 0;
  z-index: 0;
}
@keyframes HeaderOpImageAnimation {
  0% {opacity: 0}
  100% { opacity: 1}
}
@keyframes HeaderOpImageAnimationAfter {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.Home_HeaderOpImage1Cover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 4s forwards;
  z-index: 1;
}
.Home_HeaderOpImage2Cover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 5s forwards;
  z-index: 1;
}
.Home_HeaderOpImage3Cover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 6s forwards;
  z-index: 1;
}

.Home_HeaderImage {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  animation: headerImageAnimation 1ms ease 7.5s forwards;
  opacity: 0;
  z-index: 0;
}

.Home_HeaderImage.Skip {
  opacity: 1;
  animation: none;
}

@keyframes headerImageAnimation {
  0% {opacity: 0}
  100% { opacity: 1}
}

.Home_HeaderImageCover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 7s forwards;
  z-index: 1;
}
@keyframes headerImageCoverAnimation {
  0% {
    opacity: 1;
    transform: translateX(100%)
  }
  50% {
    opacity: 1;
    transform: translateX(0%)
  }
  100% {
    opacity: 1;
    transform: translateX(-100%)
  }
}

.Home_HeaderImageLogo {
  position: absolute;
  width: 30%;
  height: auto;
  top: 25%;
  left: 0;
  right: 60%;
  margin: auto;
  opacity: 0;
  z-index: 0;
  animation: HeaderImageLogoAnimation 1.5s ease 8s forwards;
}

.Home_HeaderImageLogo.Skip {
  opacity: 1;
  animation: none;
}

@keyframes HeaderImageLogoAnimation {
  0% {opacity: 0;
    transform: translateX(10%)
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

.Home_ShareButtons {
  display: flex;
  flex-flow: column;
  position: absolute;
  width: fit-content;
  top: 0%;
  right: 0%;
  margin-top: 100px;
  margin-right: 16px;
  z-index: 2;
  animation: ButtonsShowAnimation 1ms ease 7.5s forwards;
  opacity: 0;
}

.Home_ShareButtons.Skip {
  opacity: 1;
  animation: none;
}

.Home_LinkButtons {
  display: flex;
  flex-flow: row;
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 4;
  animation: ButtonsShowAnimation 1ms ease 7.5s forwards;
  opacity: 0;
}

.Home_LinkButtons.Skip {
  opacity: 1;
  animation: none;
}

@keyframes ButtonsShowAnimation {
  0% {opacity: 0;
    transform: translateX(10%)
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

.Home_ChannelButton {
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #B71C1C;
  background-color: #F44336;
  padding: 16px 16px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  margin-right: 32px;
}

.Home_ChannelButton:hover {
  background-color: #E53935;
  animation: shaking 2s infinite;
}

.Home_TwitterButton {
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #1976D2;
  background-color: #03A9F4;
  padding: 16px 16px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
}

.Home_TwitterButton:hover {
  background-color: #1976D2;
  animation: shaking 2s infinite;
}

@keyframes shaking {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(4px, 4px) rotateZ(1deg)}
  50% {transform: translate(0px, 4px) rotateZ(0deg)}
  75% {transform: translate(4px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.Home_HeaderShereButton {
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #1976D2;
  background-color: #03A9F4;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  opacity: 0.2;
}

.MenuItemButton.Home {
  animation: MenuItemButtonAnimation 1ms ease 7.5s forwards;
  opacity: 0;
}

.MenuItemHomeButton.Home {
  animation: MenuItemButtonAnimation 1ms ease 7.5s forwards;
  opacity: 0;
  z-index: 1;
}

.MenuItemButton:hover {
  background-color: #F50057;
}

@keyframes MenuItemButtonAnimation {
  0% {opacity: 0;
    transform: translateX(10%)
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

.Home_MovieYoutube {
  position:relative;
  width:100%;
  padding-top:56.25%;
}

.Home_MovieYoutubeFrame {
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}

/** Body **/

.Home_Introduction {
  margin-top: 64px;
  margin-left: 64px;
  margin-right: 64px;
}

.Home_Introduction h1 {
  color: #FF4081;
  font-size: 2em;
}

.Home_Introduction p {
  font-size: 1.2em;
  margin-top: 32px;
  color: #5D4037;
  margin-bottom: 8px;
}

.Home_License {
  margin-top: 64px;
  margin-left: 64px;
  margin-right: 64px;  
}

.Home_License h1 {
  font-size: 2em;
  color: #FF4081;
}

.Home_LicenseHeaderTextTitle {
  margin-top: 32px;
  color: #5D4037;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.Home_LicenseHeaderText {
  color: #5D4037;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.Home_Formrun {
  margin-top: 128px;
}

@media screen and (max-width: 1200px) { /* mobile LL */

  .Home_HeaderOpImage1 {
    height: 150%;
  }
  .Home_HeaderOpImage2 {
    height: 150%;
  }
  .Home_HeaderOpImage3 {
    height: 150%;
  }
}

@media screen and (max-width: 1000px) { /* mobile L */

  .Home_HeaderText1 {
    top: 30%;
    font-size: 3em;
  }

  .Home_LinkButtons {
    top: 50%;
    left: 20%;
  }

  .Home_ChannelButton {
    margin-bottom: 12px;
    font-size: 1.5rem;
    margin-right: 12px;
  }

  .Home_TwitterButton {
    margin-bottom: 12px;
    font-size: 1.5rem;
  }
  
  .Home_Introduction {
    margin-left: 16px;
    margin-right: 16px;
  }  
  
  .Home_License {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 615px) { /* mobile S */

  .Home_HeaderText1 {
    top: 30%;
    font-size: 1.5em;
  }

  .Home_LinkButtons {
    top: 75%;
    left: 5%;
  }

  .Home_ChannelButton {
    margin-bottom: 12px;
    font-size: 1rem;
    padding: 8px 8px;
    margin-right: 12px;
  }

  .Home_TwitterButton {
    margin-bottom: 12px;
    font-size: 1rem;
    padding: 8px 8px;
  }

  .Home_Introduction {
    margin-left: 16px;
    margin-right: 16px;
  }

  .Home_License {
    margin-left: 16px;
    margin-right: 16px;
  }
}