.Products {
  background: #FFF;
}

/** Body **/
.Products_Body {
  margin-top: 128px;
  margin-left: 32px;
  margin-right: 32px;
}

.Products_Body h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 8px;
  margin-top: 32px;
}

.Products_Body hr {
  height: 3px;
  border: none;
  border-top: 3px #03A9F4 dashed;
}

.Products_Body p {
  color: #555;
  font-size: 1.2em;
  margin-bottom: 8px;
  margin-top: 8px;
}

.Products_Body img {
  max-width: 800px;
  width: 100%;
  height: auto;
}

.Products_Doujin img {
  width: 400px;
  height: auto;
  margin-bottom: 32px;
}


@media screen and (max-width: 1200px) { /* mobile LL */
}

@media screen and (max-width: 1000px) { /* mobile L */

}

@media screen and (max-width: 615px) { /* mobile S */

}