.Profile {
  background: #64B5F6;
}

/** Body **/

.Profile_KiriminChan {
  margin-top: 64px;
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  flex-flow: row;
}

.Profile_KiriminChanLeft {
  width: 35%;
  height: 35%;
  padding: 5%;
}

.Profile_KiriminChanRight {
  width: 65%;
  height: auto;
  padding-left: 16px;
}

.Profile_KiriminChanStatus {
  background-color: #E1F5FE;
  padding: 32px;
  margin-top: 64px;
  margin-right: 32px;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 1px #AAA;
}

.Profile_KiriminChanStatus table{
  width: 100%;
}

.Profile_KiriminChanStatus table th{
  position: relative;
  text-align: left;
  width: 20%;
  font-size: 2rem;
}

.Profile_KiriminChanStatus table td{
  text-align: left;
  width: 80%;
  font-size: 2rem;
}

.Profile_KiriminChanDescription {
  margin-top: 60px;
}

.Profile_KiriminChanDescription h1 {
  color: #FFF;
  font-size: 3.5em;
}

.Profile_KiriminChanDescription h2 {
  color: #FFF;
  font-size: 2em;
}

.Profile_KiriminChanDescription p {
  font-size: 1.5em;
  margin-top: 32px;
  color: #FFF3E0;
  margin-bottom: 8px;
}

@media screen and (max-width: 1200px) { /* mobile LL */
  .Profile_KiriminChan {
    margin-top: 32px;
    flex-flow: column;
    align-items: center;
    }  

  .Profile_KiriminChanLeft {
    width: 50%;
    height: 50%;
    padding: 0%;
  }
  
  .Profile_KiriminChanRight {
    width: 100%;
  }
  
  .Profile_KiriminChanStatus {
    background-color: #E1F5FE;
    padding: 16px;
    margin-top: 32px;
    margin-right: 32px;
    border-radius: 8px;
    box-shadow: 0.5px 0.5px 1px #AAA;
  }
}

@media screen and (max-width: 1000px) { /* mobile L */
  .Profile_KiriminChanStatus table th{
    width: 50%;
    font-size: 1rem;
  }
  
  .Profile_KiriminChanStatus table td{
    width: 50%;
    font-size: 1rem;
  }  

  .Profile_KiriminChanDescription {
    margin-top: 32px;
  }
  
  .Profile_KiriminChanDescription h1 {
    color: #FFF;
    font-size: 2em;
  }
  
  .Profile_KiriminChanDescription h2 {
    color: #FFF;
    font-size: 1.5em;
  }
  
  .Profile_KiriminChanDescription p {
    font-size: 1em;
    margin-top: 16px;
    color: #FFF3E0;
    margin-bottom: 8px;
  }
  
}

@media screen and (max-width: 615px) { /* mobile S */

}