.Videos {
  background: #CCC;
}

/** Body **/
.Videos_Body {
  margin-top: 128px;
  margin-left: 32px;
  margin-right: 32px;
}

.Videos_Body h1 {
  color: #FF4081;
  font-size: 2em;
  margin-bottom: 8px;
  margin-top: 32px;
}

.Videos_VideoContents {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
}

.Videos_VideoCard {
  margin-right: 32px;
  margin-bottom: 32px;
}

.Videos_VideoCardTitle {
  color: #666;
  font-size: 1.3rem;
  width: 300px;
}

.Videos_VideoCardDescription {
  color: #FF4081;
  font-size: 1rem;
  width: 300px;
}

.Videos_Links {
  padding-top: 64px;
  padding-bottom: 64px;
  background: #CCC;
}

@media screen and (max-width: 1200px) { /* mobile LL */
}

@media screen and (max-width: 1000px) { /* mobile L */

}

@media screen and (max-width: 615px) { /* mobile S */

}