.menuContainer {
    padding-top: 0;
    margin: 32px;
}

.menuContainer h2 {
    font-size: 3em;
    margin-bottom: 36px;
}

.menuContainer a {
    width: 300px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #888;
    background-color: #03A9F4;
    padding: 16px 24px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
}

.menuContainer a:hover {
    background-color: #B3E5FC
}

.menuImage {
    top: 15%;
    left: 15%;
    width: 800px;
    position: absolute;
    z-index: -1;
}

.buttonBack {
    position: absolute;
    bottom: 5%;
    margin: 32px;
    font-size: 2rem;
}

@media screen and (max-width: 480px) { /* smart phones */

    .menuImage {
        top: 20%;
        left: 15%;
        width: 600px;
        position: absolute;
        z-index: -1;
    }

}