h1 {
    padding-top: 0;
}
h2 {
    margin-top: 0;
    font-size: 2em;
}
.container {
    margin-left: 32px;
}

.turnText {
    margin-top: 36px;
}

.board {
    margin-top: 20px;
    margin-bottom: 20px;
}

.board td {
    background-color: #03A9F4;
    font-size: 30px;
    width: 2em;
    height: 2em;
}
.board td span {
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 0.25em;
}

.black {
    background-color: black
}

.white {
    background-color: white
}

.boardContainer {
    display: flex;
    flex-flow: row;
}
.kiriminChan {
    margin-top: -80px;
    width: 500px;
    height: 800px;
    text-align: left;
    object-fit: contain;
}

.backButton {
    margin-top: 32px;
    margin-bottom: 64px;
}

.backButton a {
    width: 300px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #888;
    background-color: #03A9F4;
    padding: 16px 24px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
}

.backButton a:hover {
    background-color: #B3E5FC
}

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    padding: 2em;
    height: 400px;
    min-width: 20em;
    max-width: 70%;
    background-color: #fff;
    border-radius: 1em;
    transform: translate(-50%, -50%);
    outline: transparent;
}

.Modal p {
    margin-top: 32px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #888;
    background-color: #03A9F4;
    padding: 16px 24px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
}

.Modal a {
    color: #ffffff;
    font-size: 1.4rem;
    text-decoration: none;
}

.Modal p:hover {
    background-color: #B3E5FC
}

.Overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
}