.header {
    padding-top: 0;
    margin: 32px;
}

.header h1 {
    font-size: 4em;
}

@media screen and (max-width: 480px) { /* smart phones */

    .header h1 {
        font-size: 2.5em;
        width: 480px;
    }
}