/** initilization */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  ol, ul, dl {
    list-style-position: inside;
  }
  * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  input, textarea, .spa-x-user-select {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
  
  body {
    height: 100%;
    font-family:'Bokutachi', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  }
  
  @font-face {
    font-family: 'Bokutachi';
    src: url("fonts/bokutachi.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Kodomo';
    src: url("fonts/KodomoRounded.otf") format("opentype")
  }
  
  /** common classes */


.Margin32 {
    margin-top: 32px;
}

.Button {
    margin-right: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #03A9F4;
    background-color: #03A9F4;
    padding: 16px 16px;
    color: #ffffff;
    font-size: 1.4rem;
    text-decoration: none;
}

.Button:hover {
    background-color: #B3E5FC;
}

.Button.Pink {
    box-shadow: 1px 1px 3px #FF4081;
    background-color: #FF4081;
}

.Button.Pink:hover {
    background-color: #F50057;
}

/** Header **/
  
.Header {
    background-color: #FF4081;
}
 
.HeaderContainer {
    position: relative;
}
  
.HeaderTitle {
    text-align: center;
    font-size: 4rem;
    font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
    color: #FFF;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 3;
}

.Menu {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    right: 0px;
}
  
.MenuItemButton {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #FF4081;
    background-color: #FF4081;
    padding: 10px 10px;
    color: #ffffff;
    font-size: 1.4rem;
    text-decoration: none;
}

.MenuItemButton:hover {
    background-color: #F50057;
}

@media screen and (max-width: 1000px) { /* mobile L */
    html { 
      font-size: 75%;
    }
  
    .HeaderTitle {
      font-size: 2rem;
    }

    .Menu {
        margin-left: 16px;
    }

    .MenuItemButton {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 8px;
    }  
  }
  
@media screen and (max-width: 615px) { /* mobile S */
    .MenuItemButton {
        margin-top: 8px;
        margin-bottom: 4px;
        margin-right: 8px;
        padding: 6px 6px;
        font-size: 0.8rem;
    }  
}