.Home {}

hr {
  height: 3px;
  border: none;
  border-top: 3px #03A9F4 dashed;
}

.Header {
  background-color: #2196F3;
  animation: headerBackgroundAnimation 1s ease 2s forwards;
}
@keyframes headerBackgroundAnimation {
  0% {background-color: #2196F3}
  100% {background-color: #F48FB1}
}

h1 {
  padding-top: 64px;
  color: #03A9F4;
  font-size: 3rem;
  font-family: "Kodomo"
}

.HeaderContainer {
  position: relative;
}

.HeaderTitle {
  text-align: center;
  font-size: 4rem;
  font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  opacity: 0;
  animation: headerTitleAnimation 1.5s ease 2s forwards;
}
@keyframes headerTitleAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}

.HeaderText1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  color: #FFF;
  font-size: 4em;
  font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  animation: headerText1Animation 2s ease 0.5s forwards;
  opacity: 0;
  z-index: 3;
}
@keyframes headerText1Animation {
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.HeaderText2 {
  position: absolute;
  top: 25%;
  right: 0%;
  margin-right: 32px;
  color: #FFF;
  font-size: 4em;
  font-family: 'Kodomo';
  animation: headerText2Animation 2s ease 8s forwards;
  opacity: 0;
  z-index: 3;
}
@keyframes headerText2Animation {
  0% {opacity: 0}
  100% {opacity: 1}
}

.HeaderOpImage1 {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: bottom;
  animation: HeaderOpImageAnimation 1ms ease 4.5s forwards, HeaderOpImageAnimationAfter 1ms ease 5.5s forwards;
  opacity: 0;
  z-index: 0;
}
.HeaderOpImage2 {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: bottom;
  animation: HeaderOpImageAnimation 1ms ease 5.5s forwards, HeaderOpImageAnimationAfter 1ms ease 6.5s forwards;
  opacity: 0;
  z-index: 0;
}
.HeaderOpImage3 {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: bottom;
  animation: HeaderOpImageAnimation 1ms ease 6.5s forwards, HeaderOpImageAnimationAfter 1ms ease 7.5s forwards;
  opacity: 0;
  z-index: 0;
}
@keyframes HeaderOpImageAnimation {
  0% {opacity: 0}
  100% { opacity: 1}
}
@keyframes HeaderOpImageAnimationAfter {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.HeaderOpImage1Cover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 4s forwards;
  z-index: 1;
}
.HeaderOpImage2Cover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 5s forwards;
  z-index: 1;
}
.HeaderOpImage3Cover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 6s forwards;
  z-index: 1;
}

.HeaderImage {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  animation: headerImageAnimation 1ms ease 7.5s forwards;
  opacity: 0;
  z-index: 0;
}
@keyframes headerImageAnimation {
  0% {opacity: 0}
  100% { opacity: 1}
}

.HeaderImageCover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  vertical-align: bottom;
  background-color: #EFEBE9;
  animation: headerImageCoverAnimation 1s ease 7s forwards;
  z-index: 1;
}
@keyframes headerImageCoverAnimation {
  0% {
    opacity: 1;
    transform: translateX(100%)
  }
  50% {
    opacity: 1;
    transform: translateX(0%)
  }
  100% {
    opacity: 1;
    transform: translateX(-100%)
  }
}

.HeaderImageLogo {
  position: absolute;
  width: 30%;
  height: auto;
  top: 25%;
  left: 0;
  right: 60%;
  margin: auto;
  opacity: 0;
  z-index: 0;
  animation: HeaderImageLogoAnimation 1.5s ease 8s forwards;
}
@keyframes HeaderImageLogoAnimation {
  0% {opacity: 0;
    transform: translateX(10%)
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

.FloatingButtons {
  display: flex;
  flex-flow: column;
  position: absolute;
  width: fit-content;
  margin-top: 100px;
  top: 0%;
  right: 0%;
  margin-right: 16px;
  z-index: 2;
}

.FloatingButtons a:hover {
  opacity: 1;
}

.HeaderChannelButton {
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #B71C1C;
  background-color: #F44336;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  opacity: 0.5;
}

.HeaderShereButton {
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #1976D2;
  background-color: #03A9F4;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  opacity: 0.2;
}

.Menu {
  display: flex;
  position: absolute;
  width: fit-content;
  top: 0%;
  right: 0%;
}

.MenuItemButton {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #F48FB1;
  background-color: #F48FB1;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  animation: MenuItemButtonAnimation 1ms ease 7.5s forwards;
  opacity: 0;
}

.MenuItemButton:hover {
  background-color: rgb(255, 54, 121);
}

@keyframes MenuItemButtonAnimation {
  0% {opacity: 0;
    transform: translateX(10%)
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

.MovieYoutube {
  position:relative;
  width:100%;
  padding-top:56.25%;
}

.MovieYoutubeFrame {
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}

.Introduction {
  margin-left: 64px;
  margin-right: 64px;
}

.IntroductionContents {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.IntroductionSD {
  width: auto;
  height: 360px;
  transition: all 200ms 0s ease;
  margin-bottom: 32px;
}

.IntroductionSD:hover {
  transform: translateY(-24px);
}

.IntroductionTableProfile {
  width: 380px;
  height: 320px;
  background-color: #E1F5FE;
  padding: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 1px #AAA;
}

.IntroductionTableDescribe {
  width: 460px;
  height: 320px;
  background-color: #FCE4EC;
  padding: 32px;
  margin-bottom: 32px;
  margin-right: 32px;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 1px #AAA;
}

.IntroductionTableText {
  color: #5D4037;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.IntroductionTableHashTag {
  width: 460px;
  height: 320px;
  background-color: #E1F5FE;
  padding: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 1px #AAA;
}

.IntroductionTableRequest {
  width: 380px;
  height: 320px;
  background-color: #FCE4EC;
  padding: 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 1px #AAA;
}

.Video {
  margin-left: 64px;
  margin-right: 64px;
}

.VideoContents {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.VideoCard {
  width: 392px;
  height: auto;
  margin-right: 32px;
  margin-bottom: 32px;
  background-color: #EFEBE9;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 1px #AAA;
}

.VideoCardTitle {
  color: #5D4037;
  font-size: 1.5rem;
  margin-top: 8px;
}

.Links {
  margin-left: 64px;
  margin-right: 64px;
}

.Links i {
  margin-right: 10px;
  font-size: 22px;
}

.LinksContainer {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}
.LinksButton {
  border-radius: 4px;
  box-shadow: 1px 1px 3px #888;
  background-color: #03A9F4;
  padding: 16px 24px;
  margin-bottom: 15px;
  margin-right: 15px;
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
}

.Links a:hover {
  background-color: #B3E5FC
}

.Gallery {
  margin-left: 64px;
  margin-right: 64px;
}

.GalleryContainer img {
  width: 400px;
  height: auto;
  margin: 32px;
}

.License {
  margin-left: 64px;
  margin-right: 64px;  
}

.LicenseHeaderTextTitle {
  margin-top: 32px;
  color: #5D4037;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.LicenseHeaderText {
  color: #5D4037;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.Contact {
  margin-left: 64px;
  margin-right: 64px;
}

.ContactText {
  margin-top: 32px;
  color: #5D4037;
  font-size: 1.2rem;
  margin-bottom: 32px; 
}

@media screen and (max-width: 480px) { /* smart phones */
  html { 
    font-size: 75%;
  }

  .HeaderTitle {
    font-size: 2rem;
  }

  .FloatingButtons {
    top: 50%;
    right: 0%;
    margin-right: 16px;
    z-index: 2;
  }

  .HeaderText1 {
    top: 30%;
    font-size: 1.5em;
  }

  .Menu {
    opacity: 0;
  }

  .Introduction {
    margin-left: 16px;
    margin-right: 16px;
  }  

  .IntroductionTableProfile {
    width: 100%;
    padding: 16px;
    margin-right: 0px;
  }
  
  .IntroductionTableDescribe {
    width: 100%;
    padding: 16px;
  }

  .Video {
    margin-left: 0px;
    margin-right: 0px;
  }

  .VideoContents {
    justify-content: center;
    align-items: center;
  }  

  .Video h1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .VideoCard {
    width: 320px;
    height: auto;
    margin-right: 0px;
    margin-bottom: 32px;
    background-color: #FFF;
    padding: 0px;
    border-radius: 0px;
  }

  .VideoCardTitle {
    color: #5D4037;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
  }

  .Links {
    margin-left: 16px;
    margin-right: 16px;
  }

  .Gallery {
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .License {
    margin-left: 16px;
    margin-right: 16px;
  }

  .Contact {
    margin-left: 16px;
    margin-right: 16px;
  }  
}